<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="pagination(pageData, baseUrl)" th:if="${pageData.totalPages > 1}" class="mt-3">
    <ul class="pagination pagination-sm justify-content-end mb-0">

        <li class="page-item" th:classappend="${pageData.first} ? 'disabled'">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${pageData.number - 1}, size=${pageData.size})}">
                Trước
            </a>
        </li>

        <li class="page-item"
            th:each="pageNumber : ${#numbers.sequence(0, pageData.totalPages - 1)}"
            th:classappend="${pageNumber == pageData.number} ? 'active'">

            <a class="page-link"
               th:href="@{${baseUrl}(page=${pageNumber}, size=${pageData.size})}"
               th:text="${pageNumber + 1}">
                1
            </a>
        </li>

        <li class="page-item" th:classappend="${pageData.last} ? 'disabled'">
            <a class="page-link"
               th:href="@{${baseUrl}(page=${pageData.number + 1}, size=${pageData.size})}">
                Sau
            </a>
        </li>

    </ul>
</nav>
</body>
</html>